button {
    background-color: #3377DD;
    color: white;
    border: 1px solid #3377DD;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
}
.container{
    height: 132px;
    width: 400px;
}
.heading {
    padding: 10px;
}

.input-text {
    margin-top: 5px;
    margin-bottom: 5px;
}